div select option{
    background-color: rgba(240, 229, 229, 0.452);
    font-family: sans-serif;
    font-weight: bold;

}
div select{
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 4px;
    font-weight: bold;
    border:none;
    margin-top: 10px;
}