#card{
    margin :10px 25px 10px 25px;
    background-color: #04005E;
    border : 2px solid  #04005E;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    box-shadow: 1px 1px 0px #440BD4,
    2px 2px 0px #440BD4,
    3px 3px 0px #440BD4,
    4px 4px 0px #440BD4,
    5px 5px 0px #440BD4,
    6px 6px 0px #440BD4;
}