#navBar{
    background-color:#04005E;
    color:white;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center;flex-wrap: wrap; */
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    padding-left: 20px;
}
#logout-button{
    margin-left: auto;

}
@media(max-width:800px){
    #logout-button{
        margin-left: 30px;
    
    }
    #User{
        margin-left:30px !important;
    }
    #navBar{
        
        display: flex;
        justify-content: flex-start;
       
    }
}